/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    }
    
    .navbar-item {
    font-size: 1.2rem; /* افزایش اندازه فونت */
    font-family: 'Vazirmatn', sans-serif; /* فونت فارسی */
    }
    
    .navbar-item-en {
    font-size: 1.2rem; /* افزایش اندازه فونت */
    font-family: 'Roboto', sans-serif; /* فونت انگلیسی */
    }
    
    .navbar-date {
    font-family: 'Vazirmatn', sans-serif; /* فونت فارسی برای تاریخ */
    }
    